.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  margin: 1rem 0;

  @media screen and (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
  }

  .app__work-filter-item {
    padding: 0.5rem 1.5rem;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app__work-item {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    //  overflow: hidden;
    background-color: var(--primary-color);

    color: #000;
    align-items: stretch;

    cursor: pointer;
    transition: all 0.3s ease;

    // &:nth-child(2n) {
    //   flex-direction: row-reverse;

    //   .app__work-filter {
    //     justify-content: flex-start;
    //   }
    // }

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      margin: 1rem;
      flex-direction: column-reverse !important;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .app__social {
        align-self: flex-start;
      }

      .app__work-filter {
        align-self: flex-start;
      }
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 450px) {
    }
  }
}

.app__work-img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 3px solid var(--brown-color);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
    transition: 0.5s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }

  &:first-child {
    grid-area: picture-video;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__work-hover {
  position: absolute;
  line-height: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__work-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 992px) {
    padding: 0 1rem;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }

  h4 {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.9;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.app__work-content-text {
  flex: 1;
}

.app__work-gallery {
  width: 560px;

  flex-shrink: 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 230px 230px;
  grid-template-areas:
    "picture-video picture1"
    "picture-video picture2";
  gap: 0.5rem;
  padding: 0.5rem;

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    margin-top: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    grid-template-areas:
      "picture-video"
      "picture2"
      "picture3";
  }
}

.app__social {
  align-self: flex-end;
}
